<!--Note that we use ngSubmit instead of submit because ngSubmit submits a post
   request-->
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit" class="entry-form">
   <h2>Log In</h2>

   <!-- Username/Email field -->
   <div class="form-group">
      <input type="text" class="form-control" placeholder="Username or Email"
         autocomplete="username email" formControlName="usernameOrEmail">
   </div>

   <!-- Password field -->
   <div class="form-group">
      <input type="password" class="form-control" placeholder="Password"
         autocomplete="password" formControlName="password">
   </div>

   <!-- Submit button -->
   <button type="submit" class="btn btn-primary btn-lg btn-block" >
      Log In
   </button>
</form>
