@import '../styles/form';

.entry {
    padding: 1rem;
    background-color: $color-elem-bg-primary;
    border: 1px solid $color-elem-border;
    border-radius: 2px;
    width: 100%;
    max-width: 15rem;
}

.altEntry {
    font-size: 0.7em;
    margin-top: 0.2rem;
    text-align: center;

    a {
        margin-left: 0.25rem;
        font-size: 1em;
    }
}
