@import '../../styles/colors';

$color-bg: $color-secondary-dark;
$tooltip-space-away: 2px;

.tooltipContainer{
    position: absolute;
    z-index: 999;

    .tooltip {
        padding: 0.2rem;
        background-color: $color-bg;
        font-size: 0.8em;
        max-width: 200px;
        border-radius: 2px;
        margin-left: $tooltip-space-away;
    }

    .arrow {
        position: absolute;
        content: '';
        border: 5px solid transparent;
    }

    .leftArrow{
        @extend .arrow;
        left: -5px + $tooltip-space-away;
        margin-top: -5px;
        border-left-width: 0;
        border-right-color: $color-bg;
    }
}

