@import '../../styles/colors';

$color-bg: $color-secondary-dark;
$tooltip-space-away: 2px;
$arrow-height: 5px;

.tooltipContainer{
    position: absolute;
    z-index: 999;

    .tooltip {
        padding: 0.2rem;
        background-color: $color-bg;
        border-radius: 2px;
        margin-right: 2px;

        &.right {
            margin-left: $tooltip-space-away;
            max-width: 190px;
        }

        &.down {
            margin-top: $tooltip-space-away;
            min-width: 100px;
        }
    }

    .arrow {
        position: absolute;
        content: '';
        border: $arrow-height solid transparent;
    }

    .leftArrow{
        @extend .arrow;
        left: -$arrow-height + $tooltip-space-away;
        margin-top: -$arrow-height;
        border-left-width: 0;
        border-right-color: $color-bg;
    }

    .upArrow{
        @extend .arrow;
        top: -$arrow-height + $tooltip-space-away;
        margin-left: -$arrow-height;
        border-top-width: 0;
        border-bottom-color: $color-bg;
    }
}

