$color-elem-bg-primary: #fff;
$color-elem-bg-secondary: #fafafa;
$color-elem-border: #e6e6e6;
$color-primary: #25d589;
$color-primary-dark: #22c37d;
$color-primary-darker: #1fb171;
$color-primary-darkest: #1c9f65;
$color-secondary: #fff;
$color-secondary-dark: #eee;
$color-secondary-darker: #ddd;
$color-text-primary: #343a40;
$color-text-inactive: #999;
$color-error-primary: #e91d16;
$color-error-secondary: #ef5b57;
$color-error-bg: #fbeaea;
$color-error-fg: #d21a14;
