@import 'colors';
@import 'shared';
@import 'button';

.form {
    padding: 0.25rem;

    label, input {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    label {
        font-size: 0.82em;
        .error:not(input) {
            font-size: 0.78em;
            color: $color-error-primary;
        }

        .helper {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: 0.2rem;
            background-color: $color-secondary-dark;
            font-size: 0.8em;
        }
    }

    input {
        font-size: 1em;

        &:not([type="submit"]) {
            margin: 0.1rem 0 0;
            border: 1px solid $color-elem-border;
        }

        &.error {
            border-color: $color-error-secondary;
        }

    }

    input[type="submit"], button{
        padding: 0.3rem;
        font-size: 0.8em;
    }

    button:not([type="submit"]) {
        @extend .btnSecondaryOutline
    }

    *[type="submit"] {
        @extend .btnPrimary
    }

    .header {
        h1 {
            margin-top: 0.25rem;
            text-align: center;
            font-weight: normal;
        }
    }

    .body {
        padding-top: 0.5rem;
        & > * {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }

    .footer {
        padding-top: 1rem;
        button {
            padding: 0 0.5rem;
        }
    }

    .row {
        & > * + * {
            margin-left: 0.25rem;
        }
    }

    .formError {
        margin-top: 1rem;
        border: 1px solid $color-error-fg;
        background-color: $color-error-bg;
        padding: 0.25rem 0.5rem 0.4rem;
        border-radius: 2px;

        p, span {
            color: $color-error-fg;
            font-size: 0.7em;
        }
    }
}
