/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
}

/* Entry form is used for entry and login */
.entry-dialog .modal-content{
   margin: auto;
   border-radius: 10px;
   width: 370px;
}

.entry-dialog .close {
   color: #888;
   text-align: center;
   font-size: 0;
   padding: 4px;
}

.entry-dialog .close .far {
   font-size: 18px;
}

.entry-content{
   padding: 30px 40px;
}

.entry-content .modal-header{
   padding-bottom: 20px;
}

.entry-content .modal-body{
   padding-top: 30px;
}

.entry-content h2{
   margin: 0 auto;
   position: relative;
   text-align: center;
   font-weight: normal;
}

.entry-content .hint-text{
   font-size: 14px;
   margin-bottom: 30px;
   text-align: center;
}

.entry-content .alt-entry-text{
   font-size: 14px;
   text-align: center;
}

.entry-content .btn-lg{
   margin-bottom: 5px;
}

.entry-content .modal-footer{
   flex-direction: row;
   padding-top: 30px;
   padding-bottom: 30px;
}

.entry-content .entry-submission{
   flex: 1;
}

.entry-content label{
   font-size: 14px;
   margin-left: 5px;
}

.entry-content input{
   border-color: #ddd;
   font-size: 14px;
}

.entry-content .form-group {
   min-height: 90px;
}

.entry-content .form-control {
   border-radius: 30px;
}

.entry-content .invalid-feedback{
   font-size: 12px;
   max-height: 0;
   font-style: italic;
   margin-left: 5px;
   color: #ef5b57;
}

.entry-content .valid-feedback{
   font-size: 12px;
   max-height: 0;
   margin-left: 5px;
   color: #659dff;
}

.entry-content .was-validated .form-control:valid, .form-control.is-valid,
.was-validated .custom-select:valid, .custom-select.is-valid {
  border-color: #659dff;
}

.entry-content .was-validated .form-control:valid:focus,
.entry-content .form-control.is-valid:focus,
.entry-content .was-validated .custom-select:valid:focus,
.entry-content .custom-select.is-valid:focus {
  border-color: #659dff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 157, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(101, 157, 255, 0.5);
}

.entry-content .was-validated .form-control:invalid,
.entry-content .form-control.is-invalid,
.entry-content .was-validated .custom-select:invalid,
.entry-content .custom-select.is-invalid {
  border-color: #ef5b57;
}

.entry-content .was-validated .form-control:invalid:focus,
.entry-content .form-control.is-invalid:focus,
.entry-content .was-validated .custom-select:invalid:focus,
.entry-content .custom-select.is-invalid:focus {
  border-color: #ef5b57;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(239, 91, 87, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(239, 91, 87, 0.25);
}

.entry-content a {
   color: #659dff;
}

.entry-content a:hover {
  color: #196cff;
}

.inner-addon {
   position: relative;
}

#passwordField {
   padding-right: 65px;
}

#pw-toggle {
   position: absolute;
   right: 0px;
   top: 0px;
   color: #ccc;
   font-weight: bold;
   font-size: 10px;
   height: calc(2.5945rem + 2px);
   border-radius: 0px 30px 30px 0px;
   padding-left: 10px;
   padding-right: 15px;
   transition: color 0.15s ease-in-out;
   background: none;
   min-width: 60px;
   border: 0;
}

#pw-toggle:focus{
  color: #ccc;
  border: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#pw-toggle:hover{
  color: #4582EC;
  border: 0;
  background: none;
}

#pw-toggle:active{
  color: #4582EC;
  border: 0;
  background: none;
}

#pw-toggle:active:focus{
  color: #1863e6;
  border: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* style icon */
.inner-addon .fas{
   position: absolute;
   padding-left: 19px;
   padding-top: 16px;
   color: #888;
   font-size: 13px;
}

/* align icon */
.left-addon .fas { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  46px; }
