@import 'styles/colors';

section {
    min-height: 100%;
    overflow: hidden;
}

main {
    background-color: #f6f6f6;
    flex-grow: 1;
    order: 1;
    overflow-x: auto;
}

nav {
    order: 0;
}

div, section, main, nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a, span, h1, h2, h3, h4, p {
    color: $color-text-primary;
}

button {
    font-size: 0.8em;
}

input, button {
    border-radius: 2px;
}

input:focus {
    outline: 0;
}
