section {
    min-height: 100%;
    overflow: hidden;
}

main {
    background-color: #f6f6f6;
    flex-grow: 1;
    order: 1;
}

nav {
    order: 0;
}

div, section, main, nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
