:root {
    --normaltext: #343a40;
    --primary: #4582ec;
    --primary-dark: #226be8;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    color: var(--normaltext);
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

#root {
  height: 100%;
  width: 100%;
}

.nav-container {
    width: 100%;
    height: 100%;
}

.app-container {
    padding-top: 2.75rem;
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: inherit;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.link-btn {
    border: none;
    padding: 0;
    transition: color 0.3s ease-in-out;
    font-size: inherit;
    background: none;
    text-align: left;
}

.link-btn:hover {
    cursor: pointer;
}

.link-btn:active {
    cursor: pointer;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
