<form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()"
   class="signup-form">
   <h2>Sign Up</h2>
   <div class="hint-text">Start your fitness journey with GymMate today.</div>

   <!-- Name field -->
   <div class="form-group">
      <input type="text" class="form-control" placeholder="Name"
         formControlName="name">
      <div *ngIf="formErrors.name" class="alert alert-danger">
         {{ formErrors.name }}
      </div>
   </div>

   <!-- Username field -->
   <div class="form-group">
      <input type="text" class="form-control" placeholder="Username"
         autocomplete="username" formControlName="username">
      <div *ngIf="formErrors.username" class="alert alert-danger">
         {{ formErrors.username }}
      </div>
   </div>

   <!-- Email field -->
   <div class="form-group">
      <input type="email" class="form-control" placeholder="Email"
         autocomplete="email" formControlName="email">
      <div *ngIf="formErrors.email" class="alert alert-danger">
         {{ formErrors.email }}
      </div>
   </div>

   <!-- Password field -->
   <div class="form-group">
      <input type="password" class="form-control" placeholder="Password"
         autocomplete="new-password" formControlName="password">
      <div *ngIf="formErrors.password" class="alert alert-danger">
         {{ formErrors.password }}
      </div>
   </div>

   <button type="submit" class="btn btn-primary btn-lg btn-block" >
      Sign Up
   </button>
   <div class="login-text">Already have an account? <a routerLink="/login">Log in</a></div>
</form>
