<form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()" class="entry-form">
   <h2>Sign Up</h2>
   <div class="hint-text">Start your fitness journey with GymMate today.</div>

   <!-- Name field -->
   <div class="form-group">
      <input type="text" class="form-control"
         placeholder="Name" formControlName="name"
         [ngClass] = "{ 'is-invalid': formErrors.name }">
      <div class="invalid-feedback"> {{ formErrors.name }} </div>
   </div>

   <!-- Username field -->
   <div class="form-group">
      <input type="text" class="form-control" placeholder="Username"
         autocomplete="username" formControlName="username"
         [ngClass] = "{ 'is-invalid': formErrors.username }">
      <div class="invalid-feedback"> {{ formErrors.username }} </div>
   </div>

   <!-- Email field -->
   <div class="form-group">
      <input type="email" class="form-control" placeholder="Email"
         autocomplete="email" formControlName="email"
         [ngClass] = "{ 'is-invalid': formErrors.email }">
      <div class="invalid-feedback"> {{ formErrors.email }} </div>
   </div>

   <!-- Password field -->
   <div class="form-group">
      <input type="password" class="form-control" placeholder="Password"
         autocomplete="new-password" formControlName="password"
         [ngClass] = "{ 'is-invalid': formErrors.password }">
      <div class="invalid-feedback"> {{ formErrors.password }} </div>
   </div>

   <button type="submit" class="btn btn-primary btn-lg btn-block" >
      Sign Up
   </button>
   <div class="login-text">Already have an account? <a routerLink="/login">Log in</a></div>
</form>
