<form (submit)="onRegisterSubmit()" class="signup-form">
   <h2>Sign Up</h2>
   <div class="hint-text">Start your fitness journey with GymMate today.</div>
   <div class="form-group">
      <input type="text" class="form-control" name="name"
      placeholder="Name" required="required" [(ngModel)]="name">
   </div>
   <div class="form-group">
      <input type="text" class="form-control" name="username"
      placeholder="Username" required="required" [(ngModel)]="username">
   </div>
   <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email"
      required="required" [(ngModel)]="email">
   </div>
   <div class="form-group">
      <input type="password" class="form-control" name="password"
      placeholder="Password" required="required" [(ngModel)]="password">
   </div>
   <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
   </div>
   <div class="login-text">Already have an account? <a routerLink="/login">Log in</a></div>
</form>
