.signup-form{
   width: 400px;
   margin: 0 auto;
   padding: 30px;

   border-radius: 3px;
   margin-bottom: 15px;
}

.signup-form h2{
   margin: 0 0 15px;
   position: relative;
   text-align: center;
}

.signup-form .hint-text{
   color: #999;
   font-size: 14px;
   margin-bottom: 30px;
   text-align: center;
}

.signup-form .login-text{
   color: #999;
   font-size: 14px;
   text-align: center;
}

.signup-form .btn{
   margin-top: 30px;
}
