.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/****** LOGIN CONTAINER *******/

.entry-container {
    border-radius: .75rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    max-width: 370px;
    min-width: 300px;
    max-height: 600px;
    background-color: white;
    margin: auto 1rem;
    padding: 1rem 1.875rem;
    width: 100%;
}

.entry-content {
    width: 100%;
}

/******* LOGIN HEADER ******/

.entry-header h1 {
    font-size: 2.125rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    padding: 0;
}

.entry-header {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem;
}

/****** LOGIN FORM *******/

.entry-body {
    margin: 2.531rem 0 0 0;
    padding: 0.5rem 1rem;
}

.entry-content form {
    display: grid;
    height: auto;
}

.input-container {
    position: relative;
    background-color: white;
    max-width: 100%;
    height: auto;
    align-content: center;
}

.input-icon {
    position: absolute;
    color: #999;
    top: calc(50% - 0.4125rem);
    left: 1.125rem;
    height: .825rem;
}

.form-group {
    margin: 0 0 1rem;
    min-height: 4.25rem;
}

.text-input {
    background-color: transparent;
    height: 2.7195rem;
    width: 100%;
    font-size: .875rem;
    display: block;
    padding-left: 2.75rem;
    border: solid thin #ddd;
    border-radius: 2.688em;
    justify-self: center;
    -webkit-transition: border-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.text-input:focus {
    outline: 0;
    color: #495057;
    border-color: #b9d0f8;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.25);
}

.text-input.invalid {
    border-color: #ef5b57;
}

.text-input.invalid:focus {
    outline: 0;
    border-color: #ef5b57;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.field-valid {
    visibility: hidden;
    min-height: 1rem;
    max-height: 1rem;
}

.field-invalid {
    color: #ef5b57;
    font-size: 0.625rem;
    margin-left: 10px;
    margin-top: 5px;
    visibility: visible;
    min-height: 1rem;
    max-height: 1rem;
}

.valid-err {
    display: none;
}

.valid-err:invalid {
    color: #ef5b57;
    display: inline;
}

.signup-footer {
    margin: 0.5rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
}

.checkbox {
    display: flex;
    justify-self: left;
    align-items: center;
    margin-left: 0.5rem;
}

.remember-label {
    margin: 0 0 0 0.2rem;
}

.forgot-password {
    justify-self: right;
    margin-right: 0.5rem;
}

.submit-btn {
    /*background-image: linear-gradient(to bottom right, #92fe9d, #00c9ff);*/
    width: 100%;
    margin: 0.5rem 0;
}

.alt-entry {
    margin-left: 0.4rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--primary);
}

.alt-entry:focus {
    color: var(--primary);
}

.alt-entry:hover, .alt-entry:active {
    color: var(--primary-dark);
    text-decoration: underline;
}

.alt-entry-text {
    color: grey;
    margin: auto;
    justify-self: center;
    font-size: 0.75rem;
}

.entry-content img {
    width: 100%;
}

#show-btn {
    color: #A0A0A0;
    font-weight: bold;
    font-size: 0.625rem;
    position: absolute;
    background: none;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    border-radius: 0 2.688em 2.688em 0;
    border: none;
    min-width: 4rem;
    transition: color 0.3s ease-in-out;
    outline: none;
}

#show-btn:focus {
    color: #A0A0A0;
}

#show-btn:hover {
    color: var(--primary);
}

#show-btn:active {
    color: var(--primary-dark);
}

.entry-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
