@import '../../styles/colors';

.label {
    font-size: 0.82em;

    .error:not(input) {
        font-size: 0.78em;
        color: $color-error-primary;
    }

    .input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        margin: 0.1rem 0 0;
        border: 1px solid $color-elem-border;

        &.error {
            border-color: $color-error-secondary;
        }
    }

    .helper {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 0.2rem;
        background-color: $color-secondary-dark;
        font-size: 0.8em;
    }
}

