@import '../../styles/colors';

.label {
    font-size: 0.82em;

    .error:not(input) {
        font-size: 0.78em;
        color: $color-error-primary;
    }

    .input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0.1rem 0 0;
        border: 1px solid $color-elem-border;
        font-size: 1em;

        &.error {
            border-color: $color-error-secondary;
        }
    }
}

