.home {
    display: block;
}

.hero {
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.home-content {
    margin: auto;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: .75rem;
}

.hero h3 {
    font-size: 21px;
    font-weight: normal;
    margin: .75rem 0 .75rem 0;
}

.home-content > button {
    margin-top: .375rem;
    font-weight: bold;
    width: 80%;
}

.hero a {
    font-size: 21px;
    font-weight: normal;
}
