.navbar {
    position: fixed;
    top: 0;
    min-height: 2.75rem;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #ffffff;
    font-size: .875rem;
    border-bottom: 1px solid #e6e6e6;
}

.navbar>.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    color: rgba(0,0,0,.9);
    padding: 0.5625rem 1rem;
}

.navbar-brand > div {
    display: flex;
    align-items: center;
}

.navbar-brand svg {
    height: 25px;
    width: 25px;
    margin-right: .375rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.navbar-toggler {
    transition: color 0.3s ease-in-out;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    cursor: pointer;
}

.navbar-toggler:hover {
    color: var(--primary)
}

#hamburger-icon {
  position: absolute;
  right: -1.25rem;
  top: -0.2rem;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: block;
  transform: scale(0.27);


}
#hamburger-icon .line {
  display: block;
  background: #34515f;
  width: 100px;
  height: 11px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
  top: 0;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}
#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}
#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(25px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-25px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar #hamburger-icon {
        display: none;
    }

    .navbar .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.nav-link {
    height: 100%;
    color: rgba(0,0,0,.5);
    padding: 0rem 1rem;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link.active {
    color: rgba(0,0,0,.9);
}

.nav-item {
    height: 2.6875rem;
}

.navbar a {
    font-weight: normal;
    text-decoration: none;
}
