@import '../styles/colors';

.exerciseLog {
    // fill parent width
    width: 100%;
    // TODO: calculate min-width

    .body {
        // body is horizontal
        flex-direction: row;

        // horizontal margins between every child
        * {
            margin: 0 0.25rem;
        }

        // descriptor includes title and subtitle, float to left
        .descriptor {
            float: left;
            width: 10rem;
            // min-width is 0 for auto min-width to work bc of text overflow
            // can't set this to something different
            min-width: 0;

            // title and subtitle should not wrap to break text
            // text overflow instead, but overflow means min-width: auto in parent
            // doesn't work
            span {
                white-space: nowrap;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: left;
            }

            .title {
                font-weight: bold;
            }

            .subtitle {
                color: gray;
            }
        }

        // content should be centered vertically
        .content {
            display: flex;
            align-items: center;
        }
    }

    .footer {
        justify-content: space-evenly;

        // time will be on the bottom right
        /*
         * .timestamp {
         *   float: right;
         *   font-size: 0.75em;
         * }
         */
    }
    .show {
        visibility: visible;
    }

    .hide {
        visibility: hidden;
    }

    p {
        margin: 0.1rem;
    }
}
