.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.fade-show {
    opacity: 1;
}

.fade-hide {
    opacity: 0;
}


.modal-dialog {
    transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.fade-show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    box-sizing: border-box;
    align-items: center;
}

/* backdrop with transitions*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.modal-backdrop-show {
    opacity: 0.5;
}

.modal-backdrop-hide {
    opacity: 0;
}
