.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #f8f9fa;
}

.navbar>.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    color: rgba(0,0,0,.9);
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar .navbar-toggler {
        display: none;
    }

    .navbar .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.nav-link {
    display: block;
    width: 100%;
    color: rgba(0,0,0,.5);
}

.navbar-nav .nav-link.active {
    color: rgba(0,0,0,.9);
}
